<!DOCTYPE html>
<html>
<head>
  <title>PortalApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="panel panel-info modal-dialog center-block cm-modal">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Welcome to <strong>Portal App</strong> - Amazing webservice> by TonyTheCat!</h3>
  </div>
  <div class="panel-body text-center center-block">

    TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
    TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
    TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
    TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
    TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
    TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST
    TEST TESTTEST TESTTEST TESTTEST TESTTEST TESTTEST TEST


  </div>
</div>

<%= yield %>
</body>
</html>
